{% extends "users/base.html" %} {% load extract_tags %} {% block content %}


<form action="{% url 'notes:alteration' note.id %}" method="POST">
  <div class="input-group mb-3">
  <span class="input-group-text">Note name</span>
  <textarea class="form-control" name="name" aria-label="With textarea">{{note.name}}</textarea>
</div>
    <div class="input-group">
    <span class="input-group-text">Note description</span>
    <textarea maxlength="4096" id="description" class="form-control" name="description" aria-label="Note description">{{note.description}}</textarea>
            <label class="input-group-text" for="tag_select">Tags</label>
        <select class="multiselect form-control" multiple="multiple"
            aria-label="multiple select example"
            aria-describedby="basic-addon2" name="tags" id="tag_select" size="5"
            data-max-options="5"
            required>
        {% for tag in tags %}
        {% if tag.name in note.tags|tags %}
        <option value="{{tag.name}}" selected="selected">{{tag.name}}</option>
        {% else %}
        <option value="{{tag.name}}">{{tag.name}}</option>>
        {% endif %}
        {% endfor %}
    </select>
    </div>
    {% csrf_token %}
    <div class="input-group">

    </div>
    <p class="text-muted text-center"> You can select a maximum of 5 tags</p>
    <p>Time of creation: <kbd>{{note.created}}</kbd></p>
    <button class="btn btn-outline-primary" type="submit">Save</button>

</form>
{% endblock %}
