{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        {% if object.datatype == 'image' %}
            <div>
                <h2>{{object.name}}</h2>
                <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <a href="#">
              <img class="img-thumbnail" src="{{object.data.url}}" alt="Card image cap">
            </a>
        {% endif %}
        {% if object.datatype == 'video' %}
            <div>
                <h2>{{object.name}}</h2>
                <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
              <video controls>
                  <source src="{{object.data.url}}" type="video/webm">
                  <source src="{{object.data.url}}" type="video/mp4">
                  <source src="{{object.data.url}}" type="video/ogg">
              </video>
        {% endif %}
        {% if object.datatype == 'audio' %}


            <div>
                <h2>{{object.name}}</h2>
                <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <audio class="w-100"  loop controls>
                <source src="{{object.data.url}}" type="audio/ogg">
                <source src="{{object.data.url}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {% endif %}
        {% if object.datatype == 'document' %}
            <div>
                <h2> <a href="{{object.data.url}}" target="_blank">{{object.name}}</a></h2>
                <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
        {% endif %}
        {% if object.datatype == 'other' %}
            <div>
                <h2>{{object.name}}</h2>
                <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
        {% endif %}


        <div>
            <a class="btn btn-warning btn-xl mt-1 mb-1" href="{{object.data.url}}" download>Download</a>
            <a class="btn btn-primary btn-xl mt-1 mb-1" type="submit">Save</a>
            {% if object.in_trash == False %}
                <a class="btn btn-danger btn-xl mt-1 mb-1" href="#">Move to trash</a>
            {% else %}
                <a class="btn btn-success btn-xl mt-1 mb-1" href="#">Restore</a>
                <a class="btn btn-danger btn-xl mt-1 mb-1" href="#">Delete</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}