{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
            {% if object.datatype == 'image' %}
                <div>
                    <h2>{{object.name}}</h2>
                    <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
                </div>
                <a href="#">
                  <img class="img-thumbnail" src="{{object.data.url}}" alt="Card image cap">
                </a>
            {% endif %}
            {% if object.datatype == 'video' %}
                <div>
                    <h2>{{object.name}}</h2>
                    <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
                </div>
                  <video controls>
                      <source src="{{object.data.url}}" type="video/webm">
                      <source src="{{object.data.url}}" type="video/mp4">
                      <source src="{{object.data.url}}" type="video/ogg">
                  </video>
            {% endif %}
            {% if object.datatype == 'audio' %}
                <div>
                    <h2>{{object.name}}</h2>
                    <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
                </div>
                <audio class="w-100"  loop controls>
                    <source src="{{object.data.url}}" type="audio/ogg">
                    <source src="{{object.data.url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
            {% if object.datatype == 'document' %}
                <div>
                    <h2> <a href="{{object.data.url}}" target="_blank">{{object.name}}</a></h2>
                    <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
                </div>
            {% endif %}
            {% if object.datatype == 'other' %}
                <div>
                    <h2>{{object.name}}</h2>
                    <small class="text-muted">Uploaded by {{ object.owner }}: {{ object.date_posted|date:"F d, Y" }}</small>
                </div>
            {% endif %}


            <div>
                <form method="POST">
                    {% csrf_token %}

                    <a class="btn btn-warning btn-xl mt-1 mb-1" href="{{object.data.url}}" download>Download</a>
                    <a class="btn btn-primary btn-xl mt-1 mb-1" href="{% url 'file-update' object.id %}">Update</a>
                    {% if object.in_trash == False %}
                        <input type="submit" class="btn btn-danger btn-xl mt-1 mb-1" value="Move to trash" />
                    {% else %}
                        <input type="submit" class="btn btn-success btn-xl mt-1 mb-1" value="Restore" />
                        <a class="btn btn-danger btn-xl mt-1 mb-1" href="{% url 'file-delete' object.id %}">Delete</a>
                    {% endif %}
                        <a class="btn btn-primary btn-xl mt-1 mb-1" href="/{{object.in_folder}}/">Back to {{object.in_folder}}</a>
                </form>
            </div>
    </div>
{% endblock content %}

<!--      <article class="media content-section">-->
<!--          <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
<!--          <div class="media-body">-->
<!--              <div class="article-metadata">-->
<!--                  <a class="mr-2" href="{% url 'user-notes' object.author.username %}">{{ object.author }}</a>-->
<!--                  <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>-->
<!--                  {% if object.author == user %}-->
<!--                    <div>-->
<!--                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note-update' object.id %}">Update</a>-->
<!--                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'note-delete' object.id %}">Delete</a>-->
<!--                    </div>-->
<!--                  {% endif %}-->
<!--              </div>-->
<!--              <h2 class="article-title">{{ object.title }}</h2>-->
<!--              <p class="article-content">{{ object.content }}</p>-->
<!--          </div>-->
<!--      </article>-->