
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'file_storage/styles.css' %}">

<div class=".container-fluid">
    <div class="row">
        {% for folder in folders %}
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 bg-transparent">
                <div class="card center filetype-image">
                    <a href="/{{folder.name}}/" >
                      <img class="card-img-top center"  src="{{folder.path_to_image}}" alt="Card image cap">
                      <div class="card-body">
                          <p class=" text-center filetype-title">{{folder.name}} ({{folder.num_of_files}})</p>
                      </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class=".container-fluid">
    <div class="row ">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 bg-transparent align-middle" style="height: 250px;" >
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="formFile" class="form-label align-middle" style="" >
                    <h3>Drop files to upload</h3>
                </label>
                <input name="upload_files" class="form-control input-lg h-50" type="file"  multiple id="formFile" >
                <button type="submit" class=" btn btn-primary btn-sm"
                    value="save" style="width: 140px; height: 40px;">Upload
                </button>
            </form>
        </div>

        {% if memory_chart %}
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12 bg-transparent align-middle center ">
                <img class="w-100"
                     src="data:image/png;base64, {{memory_chart|safe}}" alt="">
            </div>
        {% endif %}
    </div>
</div>


    {% if files %}
    <div class="container " style=" margin:10 ; padding:2">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <p class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-3 pt-3"> Sort by:</p>
                    <select name="filter_by" class=" col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 ">
                        {% for value, text in filter_form.fields.filter_by.choices %}
                            {% if value == filter_form.initial.filter_by %}
                                <option value="{{value}}" selected>{{text}}</option>
                            {% else %}
                                <option value="{{value}}">{{text}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-4 pt-2 mt-2 align-middle">
                        <p>{{filter_form.reversed_sort}} Reverse</p>
                    </div>
                    <button type="submit"
                            class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-10 btn btn-warning h-75 pt-1 mt-2"
                            value="save">Filter</button>
                </div>
            </div>
        </form>
        </div>

    <div class="container" style=" margin:20 0;">
<!--        <ol class="lx-12 ">-->
            <div class="d-flex w-100">
                <div class="col-lg-9 col-md-7 col-sm-7 col-7  ">
                    <p>Name</p>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                    <p>Detail</p>
                </div>
<!--                <div class="col-lg-1 col-md-1 col-sm-2 col-3  text-right">-->
<!--                    <p  class="float-right">Size</p>-->
<!--                </div>-->
            </div>

<!--            <div class="col-xl-12"><p></p>-->
            {%for file in files %}
                <div class="d-flex w-100 truncateLongTexts">
                    <div class="col-lg-9 col-md-7 col-sm-7 col-7 truncateLongTexts" >
                        <a href="/file/{{file.id}}" class="file-item ">
                            <p>{{file.name}} </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5 col-5  truncateLongTexts" >
                        <small  >{{ file.date_posted|date:"m.d.y" }} <b>{{file.size_str}}</b></small>
                    </div>
<!--                    <div class="col-lg-1 col-md-1 col-sm-2 col-3 text-right truncateLongTexts">-->
<!--                        <p  class="float-right">-->
<!--                        </p>-->
<!--                    </div>-->
                </div>
            {% endfor %}
<!--        </ol>-->
    </div>
    {% endif %}


{% endblock content %}
