{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid" style=" margin:0 auto;">
    <div class="row" style=" margin: 0 auto 10;">
        <a href="/files/" class="col-xl-1 col-lg-1 col-sm-2 col-3" style=" margin:1 10;"><button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">All</button></a>
        <a href="/images/" class="col-xl-1 col-lg-1 col-sm-2 col-3" style=" margin:1 10;"><button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Images</button></a>
        <a href="/video/"  class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;"><button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Video</button></a>
        <a href="/audio/" class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;"><button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Audio</button></a>
        <a href="/documents/" class="col-xl-1 col-lg-1 col-sm-2 col-3" style=" margin:1 10;"><button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Documents</button></a>
        {% if trash %}
        <a href="/other/" class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;">
            <button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Other</button>
        </a>
        <a href="/trash/" class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;">
            <button class="btn btn-warning btn-sm p-10 m-10" style="width: 90px">Trash</button>
        </a>
        {% else %}
                <a href="/other/" class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;">
            <button class="btn btn-warning btn-sm p-10 m-10" style="width: 90px">Other</button>
        </a>
        <a href="/trash/" class="col-xl-1 col-lg-1  col-sm-2 col-3" style=" margin:1 10;">
            <button class="btn btn-primary btn-sm p-10 m-10" style="width: 90px">Trash</button>
        </a>
        {% endif %}
    </div>
</div>


{% if files %}
    <div class="container " style=" margin:10 ; padding:2">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <p class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-2 pt-3"> Sort by:</p>
                    <select name="filter_by" class=" col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 ">
                        {% for value, text in filter_form.fields.filter_by.choices %}
                            {% if value == filter_form.initial.filter_by %}
                                <option value="{{value}}" selected>{{text}}</option>
                            {% else %}
                                <option value="{{value}}">{{text}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-3 pt-2 mt-2 align-middle">
                        <p>{{filter_form.reversed_sort}} Reverse</p>
                    </div>
                    <button type="submit"
                            class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-10 btn btn-warning h-75 pt-1 mt-2"
                            value="save">Filter</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endif %}


<div class="container">
    <ul class="list-group">
        {% for file in files %}
                <div class="d-flex w-100 truncateLongTexts">
                    <div class="col-xl-9 col-lg-9 col-md-7 col-7 truncateLongTexts " >
                        <a href="/file/{{file.id}}" class="file-item ">
                            <p>{{file.name}} </p>
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-5">
                        <small class="text-right">{{ file.date_posted|date:"m.d.Y h:m"}} <b>{{file.size_str}}</b></small>
                    </div>
                </div>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

