/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);*/

/*
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}
*/
/*
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 260px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
*/

.title {
	width: 100%;
	/*height: 50px; */
	border-bottom: 1px solid #999;
	text-align: center;
}

/*
h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
	/* color: #FF00FF;
}
*/

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

a.file-item {
  color: #00008B;
  font-family: Cursive;
  text-decoration: none;
}

a.file-item:hover {
  text-decoration: none;
}

a.file-item:active {
  color: black;
}

.truncateLongTexts{
   font-size: 1.2em;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis // This is where the magic happens
}
/* For image list */

/* This default styling works for large screen devices (All devices with resolution of 1200px or above), for example laptops */

.image_div {
max-height: 300px;
}

.image_body {
height: 200px;
}

/* This media query works for medium screen devices (All devices with resolution from 992px to 1199px), for example Computers */

@media (min-width: 992px) and (max-width: 1199px){
  .image_div{
    max-height: 250px;
    max-width: 220px;
  }
   .image_body{
    height: 200px;
    width: 200px;
  }
}


/* This media query works for small screen devices (All devices with resolution from 768px to 991px), for example tablets */

@media (min-width: 768px) and (max-width: 991px){
  .image_div{
    max-height: 250px;
    max-width: 200px;
  }
   .image_body{
    height: 200px;
    width: 200px;
  }
  .filetype-title{
  font-size:1vw;
  }
}

/* This media query works for extra small screen devices (All devices with below resolution of 767px), for example Iphones, Smart Phones */

@media (max-width: 767px){

  .image_div{
    max-height: 160px;
    max-width: 200px;
    margin: auto;
  }
   .image_body{
    height: 110px;
    width: 200px;
    margin: auto;
  }

}
